nav {
    text-align: center;
    font-size: 30px;
}

#index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#scorebar {
    text-align: center;
    font-size: 50px;   
}

#cookie {
    width: 300px;
    height: 300px;
    align-items: center;
}
