{% extends "base.html" %}
{% block title %} Rebirth {% endblock %}
{% block page %} Rebirth {% endblock %}
{% block script %} src="../static/java/rebirth.js" {% endblock %}

{% block content %}
<div style="text-align: center;">
    <p id="description">Rebirthing resets all your cookies and items, but multiplies your income by 1.5x permanently</p>
    <p id="rebirthDisplayPrice"></p>
    <p id="rebirthDisplayAmount"></p>
    <h1 id="rebirthDisplayButton", class="centeredClickableButtons">Rebirth</h1>
</div>
{% endblock %}