{% extends "base.html" %}

{% block script %} src="../static/java/shop.js" {% endblock %}

{% block content %}
 <div class="grandpa">
    <h3 id="title">Grandpa</h3>
    <p id="description">Grandpa that bakes cookies. +1 cookie per second</p>
    <p id="grandpaPrice"></p>
    <p id="grandpas"></p>
    <p id="grandpaButton">Buy</p>
 </div>

 <div class="better cookies">
   <h3 id="title">Better Cookies</h3>
   <p id="description">Higher quality cookies. +0.1 cookies per click</p>
   <p id="cookieUpgradePrice"></p>
   <p id="cookieUpgrades"></p>
   <p id="cookieUpgradeButton">Buy</p>
 </div>
{% endblock %}